.App {
  background-color: #e7ece8;
}

 .main{
   height: auto;
   margin-top: 2em;
   margin-bottom: 2em;
 }
 label{
   text-align: center;
 }

 a {
   text-align: center;
 }
.btn-custom{
  color: #e7ece8;
  background-color: #e9735c;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
h1, h2, h3{
  text-align: center;
  color: #541e19;
}
.header {
  height: 8em;
  background-color: #ae392c;
}
.header a {
  color: #e7ece8;
}
.oi-laptop{
  color: #e9735c;
  width: 20px;
  height: 20px;
}
.oi-menu{
  color: #e7ece8;
}
.footer{
  text-align: center;
  height: 5em;
  background-color: #541e19;
}
.footer p {
  margin: 0;
  color: #f27c66;
}
.leaflet-container {
    height: 500px;
    width: 100%;
    border: thick double #541e19;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
